
#grid {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid black;
    flex: 1;
    flex-direction: row;
    display: flex;
}


