body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
    flex-direction: row;
    display: flex;
}

.column {
    flex: 1;
}

